.productDescription {
  ul {
    list-style-type: disc !important;
    padding-left: 1.5em !important;
  }
  ol {
    list-style-type: decimal !important;
    padding-left: 1.5em !important;
  }

  p:empty,
  p:has(br:only-child) {
    min-height: 1.5em !important;
    display: block !important;
  }
}
