.productDescription {
  ul {
    list-style-type: disc;
    padding-left: 1.5em;
  }
  ol {
    list-style-type: decimal;
    padding-left: 1.5em;
  }

  p:empty,
  p:has(br:only-child) {
    min-height: 1.5em;
    display: block;
  }
}