@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --pureblack: oklch(0% 0 0);
  --black: oklch(25.82% 0.0318 258.31);
  --white: oklch(98.51% 0 0);
  --lightgray: oklch(82.66% 0 0);
  --lightergray: oklch(0.9 0 0);
  --gray: oklch(66% 0 0);
  --darkgray: oklch(47.84% 0 0);
  --darkblue: oklch(0.26 0.0318 258.31); /* #1a2433 */
  --blue1: oklch(0.83 0.032 257.24); /* #BBC9DD */
  --blue2: oklch(0.7 0.0577 258.67); /* #8AA1C4 */
  --blue3: oklch(0.61 0.0774 257.63); /* #6685B2 */
  --blue4: oklch(0.48 0.074 258.52); /* #445F88 */
  --blue5: oklch(0.35 0.0492 257.89); /* #2B3C55 */
  --green: oklch(0.63 0.1371 151.34); /* #3a9f5c */
  --red: oklch(0.66 0.2284 26.18); /* #ff3e3e */
  --orange: oklch(0.73 0.1659 59.39); /* #f28a1a */
  --background: oklch(95.51% 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-manrope: "Manrope";
}

@theme inline {
  --color-orange: var(--orange);
  --color-green: var(--green);
  --color-red: var(--red);
  --color-darkgray: var(--darkgray);
  --color-pureblack: var(--pureblack);
  --color-blue-1: var(--blue1);
  --color-blue-2: var(--blue2);
  --color-blue-3: var(--blue3);
  --color-blue-4: var(--blue4);
  --color-blue-5: var(--blue5);
  --color-darkblue: var(--darkblue);
  --color-gray: var(--gray);
  --color-white: var(--white);
  --color-purewhite: oklch(1 0 0);
  --color-lightgray: var(--lightgray);
  --color-lightergray: var(--lightergray);
  --color-black: var(--black);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-manrope: var(--font-manrope);
  --font-weight-semibold: 650;
  --breakpoint-lg: 1024px;
  --breakpoint-2xl: 1636px;
  --breakpoint-3xl: 1900px;
  --container-3xl: 2048px;
  --text-3xl: 2.5rem;
  --animate-shake: shake 0.35s ease-in-out;
  --shadow-sm: 2px 2px 8px 0px rgba(0, 0, 0, 0.10);
  --animate-accordion-up: slideUp 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  --animate-accordion-down: slideDown 0.4s cubic-bezier(0.65, 0, 0.35, 1);

  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }

  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  
  @keyframes slideUp {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  body {
    @apply bg-white text-black ;
  }
  .scroll-bar-custom::-webkit-scrollbar-track
  {
    background-color: #f1f1f1;
  }

  .scroll-bar-custom::-webkit-scrollbar
  {
    width: 10px;
  }

  .scroll-bar-custom::-webkit-scrollbar-thumb
  {
    border: #f1f1f1 solid 2px;
    border-radius: 7px;
    background-color: #6b6b6b90;
  }
}

html {
  font-family: "Roboto", sans-serif;
  line-height: 1.125rem;
}

.grid-cols-full {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

@media (min-width: 1024px) {
  :root {
    --current-rem: 14;
  }

  html {
    font-size: 14px;
  }

  input, textarea {
    font-size: 14px;
  }
  
  .grid-cols-full {
    grid-template-columns: repeat(13, minmax(0, 1fr));
  }
}

@media (min-width: 1636px) {
  :root {
    --current-rem: 16;
  }

  html {
    font-size: 14px;
  }

  input, textarea {
    font-size: 16px;
  }

  .grid-cols-full {
    grid-template-columns: repeat(15, minmax(0, 1fr));
  }
}

@media (min-width: 1900px) {
  :root {
    --current-rem: 16;
  }

  html {
    font-size: 16px;
  }

  input, textarea {
    font-size: 16px;
  }
}

body.carousel {
  overflow: hidden;
  padding-right: 0px !important;
}

.footer-link img {
  filter: none;
}

@media (min-width: 1024px) {
  body.carousel {
    overflow: hidden;
    padding-right: 10px !important;
  }

  body.carousel #links-menu, body[data-scroll-locked] #links-menu {
    right: calc(2rem + 10px);
  }
  
  .footer-link img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(252deg) brightness(108%) contrast(96%);
  }
  
  .footer-link:hover img {
    filter: none;
  }
}

div[data-radix-popper-content-wrapper] {
  z-index: 45 !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.swiper-slide {
  height: auto !important;
}